body{
  margin: 0;
  padding: 0;
  background: #3498db;
}

.head{
  background: #34495e;
  width: 290px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  margin-left: 600px;
  border-radius: 10px;
}
.light1{
  background: gray;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  border-top: 7px solid black;
  position: absolute;
}
.light2{
  background: gray;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  border-top: 7px solid black;
  margin-left: 200px;
}
.light3{
  background: gray;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  border-top: 7px solid black;
  margin-left: 100px;
  transition: 0.5s;
}
.paal{
  background: #34495e;
  width: 20px;
  height: 500px;
  margin-left: 746px;
}

.btn{
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}
.btn1{
  background: #ecf0f1;
  color: black;
}
.btn2{
  background: #e74c3c;
}
@keyframes knip {
  0%{
    background: gray;
  }50%{
    background: #ecf0f1;
  }100%{
    background: gray;
  }
}
@keyframes rood1 {
  0%{
    background: gray;
  }50%{
    background: #e74c3c;
  }100%{
    background: gray;
  }
}
@keyframes rood2 {
  0%{
    background: #e74c3c;
  }50%{
    background: gray;
  }100%{
    background: #e74c3c;
  }
}
